@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oxygen", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h2 {
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: medium;
}
/* EN TETE  */
nav {
  overflow: hidden;
  background: white;
  position: sticky;
  width: 100%;
}
header {
  background: url('backgrd.png') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

header li {
  float: right;
  font-size: medium;
}
header li a {
  text-decoration-line: none;
  display: flex;
  padding: 20px 15px;
}

#logo {
  font-family: "Oxygen";
  color: black;
  font-weight: bolder;
  float: left;
}

/* image principale  */
#imageprincipale {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 2.5em;
  padding-bottom: 10px;
  padding-top: 250px;
  margin-top: 5px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h3 {
  text-transform: capitalize;
  padding-bottom: 10%;
  color: black;
  font-size: medium;
}

/* Styles pour le contenu principal */
#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* formulaire de création de profil */
.registration-form {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto 560px;
}

#espace {
  margin-bottom: 20px;
}

.registration-form h2 {
  text-transform: capitalize;
  font-size: 1.5em;
  margin-bottom: 40px;
  color: #3498db; /* Couleur du titre */
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: Oxygen;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #3498db;
  outline: none;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #217dbb;
}
