@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oxygen", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h2 {
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: medium;
}
/* EN TETE  */
nav {
  overflow: hidden;
  background: white;
  position: sticky;
  width: 100%;
}
header {
  background: url('backgrd.png') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

header li {
  float: right;
  font-size: medium;
}
header li a {
  text-decoration-line: none;
  display: flex;
  padding: 20px 15px;
}

#logo {
  font-family: "Oxygen";
  color: black;
  font-weight: bolder;
  float: left;
}

/* image principale  */
#imageprincipale {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 2.5em;
  padding-bottom: 10px;
  padding-top: 250px;
  margin-top: 5px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h3 {
  text-transform: capitalize;
  padding-bottom: 10%;
  color: black;
  font-size: medium;
}
h4{
font-size: 40px;
}

/* texte de presentation */
#textedepresentation {
  background-color: whitesmoke;
  padding: 0 20%;
}

/* menu des services */
#menudesservices {
  background-color: whitesmoke;
  padding: 10px 0px 60px 0px;
}

/* les images */
.imagecontainer {
  text-align: center;
  background-color: black;
  padding: 10%;
  margin-bottom: 10px;
}

.imagecontainer h4 {
  font-family: Oxygen;
  color: white;
}

.imagecontainer img {
  max-width: 45%;
  height: auto;
  display: inline-block;
  margin: 0;
}

.imagecontainer img:hover {
  transform: scale(1);
  transition: 500ms;
  opacity: 0.15;
}

/* avis client  */

.avis-container {
  max-width: 400px;
  min-height: 400px;
  margin: 10px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avis-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#horaires{
  text-decoration-style: dotted;
}

/* Footer */
footer {
  background-color: whitesmoke;
  padding: 20px 0 10px 0;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 900px;
}

input,
textarea,
button {
  padding: 12px;
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid whitesmoke;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
}

input:hover,
textarea:hover {
  border-color: #007bb5;
}

/* button style  */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid whitesmoke;
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
button:hover {
  background-color: #007bb5;
}
